:root {
  --btn-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #272142;
}

p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.weatherapp-pic,
.dictionaryapp-pic {
  margin-left: 30px;
}

.profile-pic {
  height: 500px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 130px 20px;
}

.content-container {
  padding: 130px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0;
}

.btn-style {
  color: white;
  background: var(--btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}

.btn-style:hover {
  color: var(--btn-color);
  background: white;
  border: 1px solid var(--btn-color);
}

.btn-style-outline {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
}

.btn-style-outline:hover {
  color: white;
  background: var(--btn-color);
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
}

.app-title {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

.app-description {
  font-size: 16px;
  line-height: 30px;
}

.project-description {
  padding: 120px 60px;
}

.weather-pic {
  margin-left: 50px;
}

.work-subtitle {
  font-size: 14px;
}

.work-images {
  background: var(--secondary-color);
}

.contact-info {
  text-decoration: none;
  color: violet;
}

.contact-content {
  background: var(--secondary-color);
  padding: 20px 0px 20px 50px;
}

.logo {
  display: block;
  padding: 25px 15px 0px 8px;
  background: var(--btn-color);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 10px 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 80px;
}

nav ul {
  padding: 0;
  margin: 0;
}

li a {
  color: #272142;
  text-decoration: none;
  margin-left: 15px;
  transition: all 100ms ease-in-out;
}

nav li.active a,
li a:hover {
  color: var(--btn-color);
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .app-title {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .contact-content {
    padding: 0;
  }
  .work-images {
    padding: 20px 90px 20px 0px;
  }
  .logo {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 5px 0px 0px 4px;
  }
  nav li {
    line-height: 60px;
  }
}
